MACROS/*~
MACROS/*.d
MACROS/*.so
MACROS/*.cxx
sdhcalEnergy/*~
sdhcalEnergy/*.d
sdhcalEnergy/*.so
sdhcalEnergy/*.cxx
sdhcalEnergy/*.root
sdhcalEnergy/cbfit/*
sdhcalEnergy/histo/*
sdhcalEnergy/plots/*
sdhcalEnergy/txtFile/*
plots/*.pdf
plots/ftfp_bert/*
plots/ftfp_bert_hp/*
plots/qgsp_bert/*
plots/qgsp_bert_hp/*
plots/muons/*
txtFile/*
*~
*.d
*.so
*.pdf
*.txt
*.root
*.cxx
*.eps
./AutoDixt*
